html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "MicrosoftYaHei";
}
#app {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}
a:hover {
  cursor: pointer;
}

/* 修改element 样式 */
#science {
  .el-table th {
    background: #ccc;
    // color:rgba(22,22,22,1);
  }
  .el-table th > .cell {
    font-weight: 300;
    color: rgba(22, 22, 22, 1);
  }
}
.searchDetail {
  .el-table th {
    background: rgba(166, 166, 166, 0.04);
  }
  .el-table th > .cell {
    font-size: 16px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 1);
    line-height: 24px;
    opacity: 0.7;
    text-align: left;
    padding-left: 20px;
  }
  input {
    height: 60px !important;
    border-radius: 0;
    border: 0;
  }
  .search-select {
    input {
      border: 0 !important;
    }
  }
}
#search {
  input {
    height: 60px !important;
    border-radius: 0;
    border: 0;
  }
}
.integrityDetail {
  .el-table th {
    width: 934px;
    height: 40px;
    background: rgba(246, 246, 246, 1);
    border: 1px solid rgba(229, 229, 229, 1);
  }
  .el-table th > .cell {
    // width: 27px;
    // height: 14px;
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 0.8);
    line-height: 24px;
  }
  .el-tree-node__content {
    height: 49px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    // background: #ccc;
    font-family: "MicrosoftYaHei";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
  }
  .el-icon-caret-right:before {
    content: "";
  }
  .el-tree-node__content:hover {
    background: rgba(255, 0, 0, 0.04);
    // opacity: 0.04;
  }
}
#example {
  .el-table th {
    width: 934px;
    height: 40px;
    background: rgba(246, 246, 246, 1);
    // border: 1px solid rgba(229, 229, 229, 1);
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 1);
    line-height: 24px;
  }
  .el-table th > .cell {
    // width: 27px;
    // height: 14px;
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 0.8);
    line-height: 24px;
  }
}
#science {
  .el-table th {
    width: 934px;
    height: 40px;
    background: rgba(246, 246, 246, 1);
    // border: 1px solid rgba(229, 229, 229, 1);
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 1);
    line-height: 24px;
    margin-left: 10px;
  }
  .el-table th > .cell {
    margin-left: 10px;
    // width: 27px;
    // height: 14px;
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
    color: rgba(22, 22, 22, 0.8);
    line-height: 24px;
  }
  .el-table .cell {
    margin-left: 10px;
  }
}
.form {
  .el-form-item {
    display: inline-block;
    width: 460px;
  }
  .el-button--primary {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
  }
  .el-button--success {
    color: #fff;
    background-color: #ff0000;
    border-color: #ff0000;
  }
  .el-button--info {
    color: rgba(169, 169, 169, 1);
    background-color: rgba(232, 232, 232, 1);
    border-color: rgba(232, 232, 232, 1);
  }
  // .form2 {
  //   .el-form-item {
  //     display: block;
  //     width: 900px;
  //     margin: 30px auto;
  //   }
  // }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
}
.managementForm {
  .upload-demo {
    text-align: left;
    margin-left: 20px;
  }
}
.form3 {
  .el-form-item__content {
    text-align: left;
  }
}
.form2 {
  .el-form-item__content {
    text-align: left;
  }
}
/* 诚信申诉举报模块 */
.accusationForm,
.appealForm {
  .el-form-item {
    display: block;
    width: 500px;
    padding-left: 79px;
    // margin: 30px auto;
    text-align: left;
    input {
      width: 329px !important;
    }
  }
}
.appeal,
.accusation {
  .search-content {
    input {
      height: 60px !important;
      border-radius: 0;
      border: 0;
    }
  }
  .search-select {
    input {
      border: 0 !important;
    }
  }
}
.other-form {
  .el-form-item {
    display: block;
    width: 900px;
    margin: 30px auto;
  }
}
.tip-gap {
  width: 6px;
  height: 14px;
  margin-right: 7px;
  background: rgba(255, 0, 0, 0.1);
  display: inline-block;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
.swiper-pagination-bullet {
  height: 12px !important;
  width: 12px !important;
  margin-bottom: 10px !important;
}
.loginForm {
  .el-form-item__content {
    margin-left: 0 !important;
  }
  .el-input__inner {
    height: 50px;
  }
}
.signForm {
  .el-form-item__label {
    font-size: 14px;
    font-family: "MicrosoftYaHeiLight";
    font-weight: 300;
  }
  // input{
  //   width: 329px;
  // }
  .upload {
    .el-form-item__content {
      width: 329px;
      height: 168px;
      border: 1px solid rgba(225, 225, 225, 1);
    }
  }
}
/* 注册 */
.sign {
  .el-upload {
    width: 100%;
    height: 100%;
  }
  .el-radio__inner {
    background: url("../images/moren-icon.png");
  }
  .el-radio__input.is-checked .el-radio__inner {
    background: url("../images/xuanzhong-icon.png");
    border: none;
  }
  .el-radio__input.is-checked + .el-radio__label {
    color: #161616;
  }
  .el-radio__inner:hover {
    border: none;
  }

  .el-radio,
  .el-radio__inner,
  .el-radio__input {
    position: initial;
  }
}

/* 分页样式 */
.el-pagination__total,
.el-pagination__jump {
  height: 14px;
  font-size: 14px;
  font-family: Microsoft YaHei;
  font-weight: 400;
  color: rgba(106, 106, 106, 1);
}
.el-pager li.active {
  color: #e3242a;
  border: 1px solid #e3242a;
}
.el-pager li.active + li {
  border: 1px solid #dcdcdc;
}
.el-pager li:hover {
  color: #e3242a;
}
.el-pagination {
  .number {
    width: 26px;
    height: 26px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    margin-left: 4px;
  }
  margin-bottom: 10px;
}

/* upload样式 */
.el-upload-list__item.is-success .el-upload-list__item-name:focus,
.el-upload-list__item.is-success .el-upload-list__item-name:hover {
  color: #e3242a;
}

/* 全局弹框提示样式 */
.m-dialog {
  .el-dialog {
    width: 440px;
    .el-dialog__close {
      background: url("../images/guanbi-icon.png");
      background-size: 100% 100%;
      width: 14px;
      height: 13px;
    }
    .el-dialog__header {
      height: 30px;
      padding: 0px 20px;
      padding-top: 10px;
      background: rgba(227, 36, 42, 1);
      text-align: left;
      .el-dialog__title {
        margin-top: -5px;
        display: inline-block;
        width: 33px;
        height: 16px;
        font-size: 16px;
        font-family: FZLanTingHei-EL-GBK;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 30px;
      }
      .el-dialog__headerbtn {
        top: 15px;
      }
    }
    .el-dialog__body {
      height: 45px;
      span {
        height: 19px;
        font-size: 18px;
        font-family: Microsoft YaHei;
        font-weight: 400;
        color: rgba(89, 81, 81, 1);
      }
    }
    .el-dialog__footer {
      .el-button--default {
        width: 114px;
        height: 40px;
        background: rgba(232, 232, 232, 1);
        border: 1px solid rgb(232, 232, 232);
        border-radius: 4px;
        span {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: 300;
          color: rgba(106, 106, 106, 1);
          // line-height: 22px;
        }
      }
      .el-button--primary {
        width: 114px;
        height: 40px;
        background: rgba(255, 0, 0, 1);
        border: 1px solid rgba(255, 0, 0, 1);
        border-radius: 4px;
        span {
          font-size: 16px;
          font-family: Microsoft YaHei;
          font-weight: 300;
          color: rgba(255, 255, 255, 1);
          // line-height: 22px;
        }
      }
    }
  }
}
